* {
    margin: 0%;
    padding: 0%;
}
body {
    background-color: rgb(255, 255, 255);
}
#canvas1{
    display: none;
}
#videoCam {
    display: none;
}
#canvas2{
    width:  100vw;
    image-rendering: crisp-edges;
}